body {
    font-family: 'Arial' sans-serif;
    background-color: rgb(270, 220, 140);
    color: #333;
}

.header1 {
    background-color: rgb(220, 180, 110);
    padding: 20px; 
    border-radius: 4%;
}

.linker {
    background-color: rgb(200, 160, 90);
    font-size: 15px;
    border-radius: 4%;
    width: 80px;
    height: 45px;
    padding-left: 3px;
    border-radius: 5%;
}

ol {
    padding-left: 7%;
}
p {
    padding-left: 1px;
}

img {
    height: 70%;
    width: 100%;
    border: 5px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    filter: grayscale(10%);
}

