/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fafafa;
    color: #333;
    line-height: 1.6;
}

/* Header and Navigation */
header {
    background-color: rgb(133, 94, 43);
    padding: 20px;
}

.homenav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    color: #fff;
}

.homebuttons a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: ;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.homebuttons a:hover {
    background-color: #264653;
}

/* Main section */
main {
    padding: 50px;
    text-align: center;
}

section#home {
    background-color: #e9c46a;
    padding: 50px;
    border-radius: 10px;
}

section#home h1 {
    font-size: 3rem;
    color: #264653;
}

section#home p {
    font-size: 1.2rem;
    color: #333;
    margin-top: 20px;
}

